<section>
    <article class="content">
        <div class="back">
            <button class="btn" routerLink='/'>Back</button>
        </div>
        <div>
            <dl>
                <dt>17th May 2014</dt>
                <dd>
                    We first meet in Dublin Ireland when she asked for directions beach(Sandymount Strand) on the corner of Slattery's Pub in
                    Grand Canal
                </dd>
                <dt>Late September 2014</dt>
                <dd>
                    <small>after emailing for the summer</small>
                    We went on are First date in London England. And when I feel in love with her. We went to see Michael Jackson the musical
                    (front row center)
                </dd>

                <dt>
                    26th Of November 2014
                </dt>
                <dd>
                    When we started going out after I asked her out on my birthday (tactical) And began travelling to the UK every month.
                </dd>
                <dt>
                    Early March 2015
                </dt>
                <dd>
                    After getting a new job I moved to England, So I could be closer to Irena. A few months later we moved into together in Southampton.
                </dd>
                <dt>
                    New Year of 2017
                </dt>
                <dd>
                    We packed up are stuff from England and drove all the way to Czech, to start our new life…
                </dd>
            </dl>
        </div>
        <div>
            Inbetween this time we travelled the East coast of America and travelled to Kazakstan for our friends wedding and then onto
            thailand
        </div>
    </article>
    <!-- <article>
        <div>collage picture of us</div>
        <div>normal</div>
    </article> -->
</section>