<section class="content">
    <nav class="header">
        <!-- <button class="btn" routerLink='/'>Back</button> -->
        <div>
            <h1>Our Story</h1>
            <div class="divider"></div>
        </div>
    </nav>
    <article class="line-story">
        <!-- Add to header Component -->
        <dl class="line-graph">
            <!-- TODO: Componetise -->
            <div class="odd">
                <div class="time-wrap" *ngFor="let item of storyOdd; let last = last; let idx = index">
                    <div class="time-content" [class.end]="last">
                        <dt>{{ item.title }}</dt>
                        <dd>{{ item.text }}</dd>
                    </div>
                    <div class="time-circle">
                        <div class="circle" [ngClass]="getImgClass(idx, true)"></div>
                    </div>
                </div>
            </div>
            <div class="line-divider"></div>
            <div class="even">
                <div class="time-wrap" *ngFor="let item of storyEven; let last = last;  let idx = index">
                    <div class="time-content" [class.end]="last">
                        <dt>{{ item.title }}</dt>
                        <dd>{{ item.text }}</dd>
                    </div>
                    <div class="time-circle">
                        <div class="circle" [ngClass]="getImgClass(idx, false)"></div>
                    </div>
                </div>

            </div>
        </dl>
    </article>
    <div class="bottom-text">
    </div>
</section>
