@import 'variables';
.gmap {
    height: 400px;
    width: 400px;
}

.location-wrap {
    display: flex;
    height: 100%;
    height: inherit;
}

.content {
    width: 60%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-right: 3px double white;
    background-color: rgba($green, 0.3);
    color: white;
    .top {
        height: 30%;
    }
    .bottom {
        height: 70%;
    }
    .top,
    .bottom {
        display: flex;
        flex-direction: column;
    }
}

.side {
    width: 40%;
    .gmap {
        height: 50%;
        width: 100%
    }
    .hotel {
        background: url(../../../assets/imgs/location2.jpg);
        height: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
