<section class="location-wrap">
    <article class="content">
        <div class="back">
            <button class="btn" routerLink='/'>Back</button>
        </div>
        <div class="location-information">
            <h1>Location</h1>
            <div class="divider"></div>
            <p>
                The wedding will be in the
                <span>East Czech Republic</span>.
            </p>
            <p>
                The closest biggest town is called
                <span>Ostrava</span>, which is 17minutes by car(16.5km) to the location.
            </p>
            <p>
                We will be Celebrating the Wedding in
                <span>Hotel Pod Zeleným</span>
                and the ceremony will be in the neighbouring church
                <span>Kostel Narození Panny Marie</span>.
            </p>
            <a>
                click here for a schedule of times
            </a>
        </div>

        <!-- <h2>
            Celebration: Hotel Pod Zeleným
        </h2> -->
        <!-- <p>
            nám. Svobody 37 Starý Bohumín 735 81 Česká republika
        </p>
        <p>
            If you would like help finding it you a way to the location 
            you can check out these sites
        </p> -->
    </article>
    <aside class="side">
        <div class="hotel"></div>
        <agm-map class="gmap" [latitude]="49.9195721" [longitude]="18.3285126" [zoom]="15">
            <agm-marker [latitude]="49.9195721" [longitude]="18.3285126"></agm-marker>
        </agm-map>
    </aside>
</section>