<section>
    <nav>
        <div class="back">
            <button class="btn" routerLink='/'>Back</button>
        </div>
        <div>
           <h1>RSVP</h1>
        </div>
    </nav>
    <article>
        Now the important Question will you be able to attend..
        <div>
            <label>Yes</label>
            <input type="checkbox">
        </div>
        <div>
            <label>No</label>
            <input type="checkbox">
        </div>
        <div>
            <input type="text">
        </div>
    </article>

</section>
