<section>
    <article>
        <div class="back">
            <button class="btn" routerLink='/'>Back</button>
        </div>
        <dl>
            <dt>
                9am - Breakfast?
            </dt>
            <dd>
                <h5>
                    Get up, get ready and get stlylish.
                </h5>
                <p>
                    breakfast, prep and Champagne?
                </p>
            </dd>
            <dt>
                10am - Prep
            </dt>
            <dd>
                <h5>
                    Hair, nails, lights camera action
                </h5>
                <p>
                    Brides with Bridesmaids, getting hair done enjoying herself and the likes. Maybe Brides side get together? Grooms with Groomsmen,
                    leveling up his game. Photos of getting ready.
                </p>
            </dd>

            <dt>
                11am - Prepping..
            </dt>
            <dd>
                <h5>
                    Snacks and finaliazing of Prep
                </h5>
                <p>
                    Finshing up Prep people should be enjoying some snacks.
                </p>
            </dd>
            <dt>
                12am midday - FINAL things
            </dt>
            <dd>
                <h5>
                    Up, up and away.
                </h5>
                <p>
                    After all this everything is done people start moving to the church
                </p>
            </dd>
            <dt>
                1.15pm - Ceremony
            </dt>
            <dd>
                <h5>
                    What day for a Daydream.
                </h5>
                <p>
                    Get seated and wait for the magic. Bride’s family sit on the left, groom’s on the right.
                </p>

            </dd>
            <dt>
                2pm - Bride Arrives
            </dt>
            <dd>
                <h5>
                    She cho cho Ccchoices.
                </h5>
                <p>
                    Cue the flower girls. Music will be preformed by: ----, ----, ---. photograpghy will be happening. VOWS
                </p>
            </dd>

            <dt>
                3pm - After Ceremony
            </dt>
            <dd>
                <h5>
                    Shine time!
                </h5>
                <p>
                    Pictures get taken!! quick cakes before reception.
                </p>
            </dd>


            <dt>
                3.30pm - Reception!!
            </dt>
            <dd>
                <h5>
                    Mingle and a Drinky pooh
                </h5>
                <p>
                    Drinks reception begins. Couple and main bridal party have their formal pictures taken (30-40 minutes).
                </p>
            </dd>
            <!-- Some games and interaction -->

            <dt>
                5pm - Dinner
            </dt>
            <dd>
                <h5>
                    Winner winner Chicken Dinner
                </h5>
                <p>
                    Three course meal time
                </p>
            </dd>
            <dt>
                6.45pm - Speeches
            </dt>
            <dd>
                <h5>
                    To be or not to be?
                </h5>
                <p>
                    Father of the bride goes first, then the groom and then the best man. toast!
                </p>
            </dd>

            <dt>
                7.15pm - Cake Cutting
            </dt>
            <dd>
                <h5>
                    Relax, your not yourself when your hungry
                </h5>
                <p>
                    Cake, coffee and alittle freshen up!
                </p>
            </dd>

            <dt>
                7.30pm - Song for Love
            </dt>
            <dd>
                <h5>
                    Married couple sing duelt
                </h5>
                <p>
                    Music starts band plays sure we'll have a sing song.
                </p>
            </dd>

            <dt>
                8pm - First dance
            </dt>
            <dd>
                <h5>
                    It's feeling Benny Good, now
                </h5>
                <p>
                    Swing swing swing, Dance time first dance for the married couple.
                </p>
            </dd>

            <dt>
                8pm - Food glorious food
            </dt>
            <dd>
                <h5>
                    Feeling peckish pick up a peng.. chicken wing
                </h5>
                <p>
                    Evening buffet should be brought out snacks
                </p>
            </dd>

            <dt>
                8pm onwards - Party and games!!
            </dt>
            <dd>
                <h5>
                    Music, games and fun.
                </h5>
                <p>
                    Musical chairs.. nah. Czech games with bride and groom
                </p>
            </dd>

            <dt>
                10pm - DJ Starts
            </dt>
            <dd>
                <h5>
                    Don't you wanta rock DJ
                </h5>
                <p>
                    Dj, comes on and spins a blinder
                </p>
            </dd>

        </dl>
    </article>

</section>