@import 'variables';
section {
    display: flex;
    flex-direction: column;
    height: inherit;
    background-color: rgba($green, 0.3);
    .header {
        display: flex;
        height: 80px;
        margin: auto;
        align-items: center;
        h1 {
            margin: 0 auto;
            text-align: center;
            font-size: 3em;
            font-family: $title-font;
            line-height: 100%;
            color: #fff;
        }
    }
    .wrapper {
        display: inline-flex;
        height: 100%;
        width: calc(100% - 120px);
        margin: 0 60px;
        overflow: hidden;
        align-items: center;
        .slide-nav {
            position: absolute;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            outline: none;
            z-index: 5;
            background-color: white;
            color: #8fbc8f;
            border: 1px solid #8fbc8f;
            cursor: pointer;
            &:hover {
                color: white;
                background: #8fbc8f;
                border: 1px solid white;
            }
            &:active {
                border: 1px inset white;
            }
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
        article {
            min-width: calc(33.33% - 20px);
            margin: auto 10px;
            height: 80%;
            display: inline-flex;
            flex-direction: column;
            color: $darker-grn;
            .image {
                height: 100%;
                &.vitkovice {
                    background: url(../../../assets/imgs/Vitkovice.jpg);
                    background-position: center;
                    background-size: cover;
                }
                &.zoo {
                    background: url(../../../assets/imgs/zoo-ostrava.jpg);
                    background-position: center;
                    background-size: cover;
                }
                &.castle {
                    background: url(../../../assets/imgs/silesian-ostrava-castle.jpg);
                    background-position: center;
                    background-size: cover;
                }
                &.ema {
                    background: url(../../../assets/imgs/ema.jpg);
                }
                &.party {
                    background: url(../../../assets/imgs/party.jpg);
                    background-position: center;
                    background-size: cover;
                }
                &.theatre {
                    background: url(../../../assets/imgs/theatre.jpg);
                    background-position: center;
                    background-size: cover;
                }
                &.mini {
                    background: url(../../../assets/imgs/mini.jpg);
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        .thing-details,
        .thing-square {
            height: 50%;
        }
        .thing-square {
            position: relative;
            .wedge {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-image: -webkit-linear-gradient(-120deg, rgba(255, 255, 255, 0) 75%, $tert-grn 0%); // opacity: 0.5;
                span {
                    position: absolute;
                    bottom: 1em;
                    left: 20px;
                    font-size: 2em;
                    color: $darker-grn;
                }
            }
        }
        .thing-details {
            padding: 0 1em;
            display: inline-flex;
            flex-direction: column;
            min-height: auto;
            background: $tert-grn;
            position: relative;
        }
        .title {
            font-size: 1.5em;
            min-height: 50px;
            display: flex;
            align-items: center;
        }
        .content {
            margin-bottom: 14px;
            overflow: auto;
            height: 100%;
        }
    }
    .thing-actions {
        height: 60px;
        width: 100%;
        display: inline-flex;
        button {
            cursor: pointer;
            height: 100%;
            width: 100%;
            color: #8fbc8f;
            background: white;
            border: 1px solid #8fbc8f;
            &:hover {
                color: white;
                background: #8fbc8f;
                border: 1px solid white;
            }
            &:active {
                border: 1px inset white;
            }
        }
    }
}

.multi-item-carousel {
    .carousel-inner {
        height: 100%;
        display: flex;
        position: relative;
    }
}
