<section>
    <nav class="header">
        <button class="btn" routerLink='/'>Back</button>

        <h1>Things to do</h1>
    </nav>
    <main class="wrapper">
        <article *ngFor="let item of data; let odd = odd, let even = even; let idx = index;">
            <!-- > -->
            <div class="thing-square">
                <div class="image" [ngClass]="getImgClass(idx, !odd)"></div>
                <div class="wedge"></div>
            </div>

            <div class="thing-details">
                <div class="content">
                    <h1>
                        {{item.id}}. {{ item.title }}
                    </h1>
                    <h2 *ngIf="!!item.subtitle">
                        {{item.subtitle}}
                    </h2>
                    <p class="thing-text">
                        {{item.data}}
                    </p>
                </div>
                <div class="thing-actions">
                    <button [attr.href]="item.website" target="_blank"> Website </button>
                    <button [attr.href]="item.location" target="_blank">Google Maps</button>
                </div>
            </div>
        </article>
    </main>
</section>
