<!-- <app-header></app-header> -->


<section class="box box-container main-cont">
    <main class="main-wrapper">

    </main>
    <aside>
        <div>
            <h2>
                29th December 2018
            </h2>
        </div>
        <div class="center-xs">
            <h2>
                Tom &amp; Irena
            </h2>
        </div>
        <div>
            <h2>
                Ostrava, Czech Republic
            </h2>
            <small>close location</small>
        </div>
    </aside>



</section>