@import 'variables';
.header-nav {
    display: inline-flex;
    justify-content: space-around
}

section {
    display: flex
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    overflow: hidden;
    color: $light-color;
    .ws-content {
        display: flex;
        flex-direction: column;
    }
    .title,
    .signature {
        line-height: 1.5em;
    }
    .title {
        font-size: 5em;
        font-family: 'SkinnyChick';
        // border-top: 2px dotted $light-color;
        border-right: none;
        border-left: none; // color: white;
        animation: 1s ease-out 0s 1 fadeInLeftBig;
    }
    .signature {
        font-size: 3em;    
        font-family: 'Antro Vectra';
        text-align: center;
    }
    .clip {
        display: flex;
        flex-direction: column;
        font-family: $title-font, cursive;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }
}

@keyframes fadeInLeftBig {
    from {
      opacity: 0;
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeftBig {
    animation-name: fadeInLeftBig;
  }

.animation {
    font-size:60px;
	top:45%;
	left:0%;
	position:absolute;
	font-family:'Antro Vectra';
	animation-name:pop;
	animation-duration:2s;
}
@keyframes pop{
	from{background-color:transparent;left:0%;}
	100%{background-color:rgba(200,0,0,0.3);left:39%;}
}

.missle-toe {
    height: calc(10% - 2px);
    width: 100%;
    background: url(../assets/imgs/mtoe.png) center center no-repeat;
    background-size: cover;
    &.top {
        border-bottom: 2px solid $light-color;
        transform: rotate(180deg);
    }
    &.bottom {
        border-top: 2px solid $light-color;
    }
}

.main-wrapper {
    // &:after {
    //     background: url(../assets/imgs/snow.png); 
    //     background-size: contain;
    //     width: 50%;
    //     content: '';
    //     bottom: 0;
    //     left: 0;
    //     position: absolute;
    //     display: block;
    //     height: 66%;
    // }
}