@import 'variables';
.main-app-wrapper {
    display: flex;
    height: 100%;
}

.navigation {
    width: 80px;
    background-color: #803637; // box-shadow: inset -1px 0px 1px 0px rgba(255,255,255,1);
    // border-right: 1px solid white;
}

.main {
    width: 100%;
}

@media (max-width: 690px) {
    .main-app-wrapper {
        flex-direction: column;
    }
}

// TODO make all styles into styling folder.
// Animations classes in one file
@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing;
}

.animation {
    font-size: 60px;
    top: 45%;
    left: 0%;
    position: absolute;
    font-family: 'Antro Vectra';
    animation-name: pop;
    animation-duration: 2s;
}

@keyframes pop {
    from {
        background-color: transparent;
        left: 0%;
    }
    100% {
        background-color: rgba(200, 0, 0, 0.3);
        left: 39%;
    }
}

@keyframes fadeInLeftBig {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

.fadeInLeftBig {
    animation-name: fadeInLeftBig;
}
