@import 'variables';
.main-app-wrapper {
    display: flex;
    height: 100%;
}

.main, .main-2 {
    width: 100%;
}
button {
    font-family: $para-font;
}

@media (max-width: 690px) {
    .main-app-wrapper {
        flex-direction: column;
    }
}
