<section class="box box-container container main-cont">
    <main class="main-wrapper">
        <wb-side-nav></wb-side-nav>
        <div class="bg"></div>
    </main>

    <aside class="content">
        <div class="missle-toe top">
        </div>
        <div class="banner">
            <div class="clip">
                29th December 2018
            </div>
            <div class="ws-content center-xs">
                <h2 class="signature">
                    Tom &amp; Irena
                </h2>
                <h1 class="title">
                    WEDDING
                </h1>
            </div>
            <div class="clip">
                <span>Bohumín 735 81 </span>
                <span>
                    Ostrava
                </span>
                <span>
                    <small>Czech Republic</small>
                </span>

            </div>
            <small> Greetings beautiful people </small>

        </div>
        <div class="missle-toe bottom">
        </div>
    </aside>
</section>