<section class="box box-container container main-cont">


    <aside class="content">
        <div class="missle-toe top">
        </div>
        <!-- <div class="menu-icon">
            <i class="fas fa-bars fa-2x"></i>
        </div> -->
        <nav class="navigation">
            <wb-side-nav></wb-side-nav>
        </nav>

        <div class="banner">
            <div class="ws-content">
                <h1 class="signature">
                    Tom &amp; Irena
                </h1>
                <div class="small-divider"></div>
                <h1 class="title">
                    [Wedding]
                </h1>
            </div>
            <div class="clip location">
                <div class="clip">
                    29th December 2018
                </div>
                <div class="small-divider-2"></div>
                <span>Bohumín 735 81 </span>
                <span>
                    Ostrava
                </span>
                <span>
                    <small>Czech Republic</small>
                </span>

            </div>
            <div id="timer">
                <span id="months"> {{months}}</span> Months
                <span id="days"> {{days}}</span> days
                <span id="hours"> {{hours}}</span> hours
            </div>

            <small> Greetings beautiful people </small>

        </div>
        <div class="missle-toe bottom">
        </div>
    </aside>
    <main class="main-wrapper">
        <div class="top-corner"></div>
        <div class="bg"></div>
        <div class="bottom-corner"></div>
    </main>
</section>
