<nav class="header-nav">
    <img src="../../../assets/imgs/logo.png" width="54" height="54" (click)="scroll('home')">
    <div class="navigation">

        <button class="border" (click)="scroll('story')">
            Our Story
        </button>
        <button class="border" (click)="scroll('theme')">
            Theme
        </button>
        <button class="border" (click)="scroll('location')">
            Location & Information
        </button>
        <button (click)="scroll('todo')">
            Things to do
        </button>
    </div>
</nav>
<main class="page-wrapper">
    <section id="home" class="greetings" [style.height.px]="innerHeight">
        <article class="g-container">
            <header class="digit_new_rotated">
                <h3>
                    29 . 12 . 2018
                </h3>
                <h3 class="wedding">
                    Wedding
                </h3>
            </header>
            <div class="banner">
                <div class="g-content">
                    <div class="names">
                        <div class="full_name">
                            <p class="first__name">Irena</p>
                            <p class="last__name"> Popelkova</p>
                        </div>
                        <span> &amp; </span>
                        <div class="full_name">
                            <p class="first__name">Tom</p>
                            <p class="last__name"> Loughlin</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>
        </article>
    </section>
    <wb-our-story id="story" [style.height.px]="innerHeight"></wb-our-story>
    <wb-theme id="theme" [style.height.px]="innerHeight"></wb-theme>
    <wb-location id="location" [style.height.px]="(innerHeight + 140)"></wb-location>
    <wb-things-to-do id="todo" [style.height.px]="innerHeight"></wb-things-to-do>
    <!-- <wb-schedule></wb-schedule> -->
    <footer>
        <small> However if you have any problems contact us.</small> <br/>

    </footer>
</main>
