<main class="page-wrapper">
    <section class="greetings" [style.height.px]="innerHeight">
        <article class="g-container">
            <header class="digit_new_rotated">
                <h3>
                    29
                    <span> &#9679; </span>
                    12
                    <span> &#9679; </span>
                    2018
                </h3>
                <h3 class="wedding">
                    Wedding
                </h3>
                <dl>
                    <dt>Months</dt>
                    <dd>3</dd>

                    <dt>Days</dt>
                    <dd>28</dd>

                    <dt>Minutes</dt>
                    <dd>12</dd>

                    <dt>Seconds</dt>
                    <dd>12</dd>
                </dl>
            </header>F
            <div class="banner">
                <div class="g-content">
                    <!-- <div>Let's Celebrate!</div> -->
                    <div class="names">
                        <div class="full_name">
                            <p class="first__name">Irena</p>
                            <p class="last__name"> Popelkova</p>
                        </div>
                        <span> &amp; </span>
                        <div class="full_name">
                            <p class="first__name">Tom</p>
                            <p class="last__name"> Loughlin</p>
                        </div>
                    </div>
                </div>

            </div>
        </article>
    </section>
    <wb-our-story [style.height.px]="innerHeight"></wb-our-story>
    <wb-theme [style.height.px]="innerHeight"></wb-theme>
    <wb-location [style.height.px]="innerHeight"></wb-location>
    <wb-things-to-do [style.height.px]="innerHeight"></wb-things-to-do>
    <!-- <wb-schedule></wb-schedule> -->
    <footer>
        hello
    </footer>
</main>
