@import 'variables';
.header-nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    background-color: $maroon;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(245, 245, 220, 0.99);
    box-shadow: 0px 1px 3px 0px rgba(245, 245, 220, 0.99);
    img {
        width: 59px;
        height: 56px;
        padding: 2px 10px;
        cursor: pointer;
        &:hover,
        &:active {
            background-color: rgba($beige, 0.2);
        }
    }
    .navigation {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        button {
            cursor: pointer;
            outline: none;
            padding: 0 20px;
            margin: 10px 0;
            background: transparent;
            color: white;
            font-family: $para-font;
            font-size: 20px;
            border: none;
            &.border {
                border-right: 1px solid $beige;
            }
            &:hover,
            &:active {
                color: $beige;
                text-decoration: underline;
            }
        }
    }
}

.page-wrapper {
    min-height: 100%;
    width: 100%;
    background: $green;
    display: flex;
    flex-direction: column;
    position: relative;
    .greetings {
        min-height: 720px;
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: row;
        article {
            display: flex;
            z-index: 2;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: white;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            background: url(../../../assets/imgs/it.jpg);
            background-repeat: no-repeat;
            background-position: 0px 85%;
            background-size: cover;
            width: 100%;
            height: 100%;
            filter: sepia(1);
        }
        header {
            position: absolute;
            left: 0;
            width: auto;
            text-align: left;
            padding: 2px 20px 10px 20px;
            top: 30%;
            background: rgba(#F4D9A9, 0.5);
            border-left: none;
            h3 {
                font-size: 3.5em;
                font-family: $title-font;
                -webkit-text-stroke: 0.5px $maroon;
                color: transparent;
                span {
                    font-size: 0.5em;
                }
            }
            dl {
                display: none;
            }
        }
        .banner {
            background: $maroon;
            height: 30%;
            width: 100%;
            position: relative;
            border-top: 3px ridge white;
            .divider {
                border-bottom: 2px dotted rgba(white, 0.5);
                width: 40px;
                display: flex;
                margin: 25px auto;
            }
            .g-content {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: $sign-font;
                font-size: 3em;
                .names {
                    display: inline-flex;
                    align-items: center;
                    justify-items: center;
                    .full_name {
                        .first__name {
                            font-size: 0.8em;
                        }
                        .last__name {
                            font-size: 2em;
                        }
                    }
                }
                span {
                    margin: auto 0.4em 0 0.4em;
                    font-size: 2em;
                }
                .wedding {
                    font-size: 1.6em;
                }
            }
        }
    }
}
footer {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-top: 1px dotted rgba(white, 0.5);
    color: white;
}
