<section>
    <article class="content">
        <div>
            <button class="btn" routerLink='/'>Back</button>
        </div>
        <div>
            <h1>Travelling</h1>
            <small>To the wedding</small>
            <!-- TODO how you want to travel.. UI that helps you get there. Toggable Fly/drive -->
            <p>
                The way I normally travel is through Prague to Ostrava, is by train(RJ, cseka Drahy, leo express), Which is actually quiet
                enjoyable (I enjoy a few beers on the train).
            </p>
            <div>
                <h3>
                    Options

                </h3>
                <div>
                    <h4> Flying to Václav Havel Airport Prague.</h4>

                    <i>Once at the Airport you need to get the to Center.</i>
                    <dl>
                        <dt>
                            Getting to the Center:
                        </dt>
                        <dd>
                            1. Buy a ticket for the AE airport bus asking to get off at Hlavní nádraží.
                        </dd>
                        <dd>
                            2. At Hlavní nádraží, board your Train to Ostrava(hl.vn) (RJ) / or even after at Bohumnia(Leo express or Cseke Drahy).
                        </dd>
                        <dd>
                            (optional): rent a car if you prefer to drive there.

                        </dd>
                        <dt>
                            If you plan is Ostrava
                        </dt>
                        <dd>
                            Get a bus from Centre to Venue.
                        </dd>
                        <dt>If you plan is Bohumnia</dt>
                        <dd>
                            Get train to the venue and walk.
                        </dd>
                    </dl>

                    <h4>
                        Flying to Katowice Poland
                    </h4>
                    <dl>
                        <dt>
                            Get to the Center
                        </dt>
                        <dd>
                            From the airport get a Leo express bus.
                        </dd>
                        <dt>
                            Getting to the Venue
                        </dt>
                        <dd>
                            taking a train to Chalupki and walk over the border
                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            If flying Krakow Poland
                        </dt>
                        <dd>
                            Get a bus/train to Katowice and use the steps from Katowice Center
                        </dd>
                    </dl>
                </div>
                However if you a lucky person who can get a direct flight to Ostrava you can fly there, get a bus to the centre then another
                bus to the venue.
                <small>
                    for alternative routes see this website as reference <a href="https://www.rome2rio.com" target="_blank"> Rome 2 Rio</a>.
                </small>
            </div>
        </div>

    </article>
    <article class="side">
        <div>
            links to trains etc.
        </div>
        <div>
            goole map with directiosn ( upon selecting route); Maybe even send steps and direction by email
        </div>
    </article>
</section>


<!-- Places you can fly:
Katowice, bus (leo express) chalupki (for those staying at the hote)
Krakow, bus (leo express) chalupki
Prague, train (czech trains, radiojet, leo express)

You can always rent a car if you so choice to.

For those able to fly to Ostrava (everyone except from dublin); -->
<!-- TODO: google maps steps -->
