@import 'variables';
.wrapper {
    height: inherit;
    display: flex;
    color: white;
    position: relative;
}

;
nav {
    height: 10%;
    top: 0;
    z-index: 1;
    position: absolute;
}

.desc {
    z-index: 2;
    margin: auto 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 100px;
    line-height: 100%;
    font-family: $para-font;
    font-size: 1.8em;
    position: absolute;
    color: #fff;
    h1 {
        font-size: 1.8em;
        font-family: $title-font;
        line-height: 100%;
        font-weight: bold;
    }
}

section {
    width: 50%;
    font-family:  $title-font;
    display: flex;
    position: relative;
    flex-direction: column;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    h1 {
        font-size: 3em;
        font-weight: 100;
        line-height: 1em;
        padding: 1em 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    &.left {
        .circle {
            background-color: $green;
        }
        background-color: $green;
        &::after {
            background: url(../../../assets/imgs/couple.png);
            content: "";
            opacity: 0.1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
        }
    }
    &.right {
        .circle {
            background-color: $maroon;
        }
        background-color: $maroon;
        &::after {
            background: url(../../../assets/imgs/table.jpg);
            content: "";
            opacity: 0.1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-size: cover;
        }
    }
    .circle {
        margin-top: 10px;
        height: 80px;
        width: 80px;
        background: white;
        border-radius: 50%;
        z-index: 1;
        border: 1px solid white;
        margin-bottom: 20px;
    }
}
