@font-face {
    font-family: 'Tahu!';
    src: url(assets/fonts/Tahu/Tahu.woff2) format('woff2'),
        url(assets/fonts/Tahu/Tahu.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Encina Script 2';
    src: url(assets/fonts/Encina/EncinaScript2PERSONALUSE.woff2) format('woff2'),
        url(assets/fonts/Encina/EncinaScript2PERSONALUSE.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Encina Script 1';
    src: url(assets/fonts/Encina/EncinaScript1PERSONALUSE.woff2) format('woff2'),
        url(assets/fonts/Encina/EncinaScript1PERSONALUSE.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sunflowers two';
    src: url(assets/fonts/Sunflowers/Sunflowerstwo.woff2) format('woff2'),
        url(assets/fonts/Sunflowers/Sunflowerstwo.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sunflowers';
    src: url(assets/fonts/Sunflowers/Sunflowers.woff2) format('woff2'),
        url(assets/fonts/Sunflowers/Sunflowers.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tale of Hawks';
    src: url(assets/fonts/TaleOfHawk/TaleofHawks.woff2) format('woff2'),
        url(assets/fonts/TaleOfHawk/TaleofHawks.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'YoureInvited';
    src: url(assets/fonts/Invited/YoureInvited.woff2) format('woff2'),
        url(assets/fonts/Invited/YoureInvited.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YoureInvited';
    src: url(assets/fonts/Invited/YoureInvited-Heavy.woff2) format('woff2'),
        url(assets/fonts/Invited/YoureInvited-Heavy.woff) format('woff');
    font-weight: 900;
    font-style: normal;
}

