// TODO: add familys as variables
//fonts 
@font-face {
    font-family: 'GreatVibes';
    src:url('./assets/fonts/GreatVibes-Regular.woff2') format('woff2'),
        url('./assets/fonts/GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Milonga';
    src:url('./assets/fonts/Milonga-Regular.woff2') format('woff2'),
        url('./assets/fonts/Milonga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PetitFormalScript';
    src:url('./assets/fonts/PetitFormalScript-Regular.woff2') format('woff2'),
        url('./assets/fonts/PetitFormalScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansCondensed';
    src:url('./assets/fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('./assets/fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hamillton Demo';
    src: url('./assets/fonts/HamilltonDemo.woff2') format('woff2'),
        url('./assets/fonts/HamilltonDemo.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Silent Reaction';
    src: url('./assets/fonts/SilentReaction.woff2') format('woff2'),
        url('./assets/fonts/SilentReaction.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Z.swsh';
    src: url('./assets/fonts/Annisa-Slant.woff2') format('woff2'),
        url('./assets/fonts/Annisa-Slant.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Dominique';
    src: url('./assets/fonts/DominiqueRegular.woff2') format('woff2'),
        url('./assets/fonts/DominiqueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antro Vectra';
    src: url('./assets/fonts/AntroVectra.woff2') format('woff2'),
        url('./assets/fonts/AntroVectra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hijrnotes';
    src: url('./assets/fonts/HijrnotesPERSONALUSEONLY.woff2') format('woff2'),
        url('./assets/fonts/HijrnotesPERSONALUSEONLY.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exmouth';
    src: url('./assets/fonts/Exmouth.woff2') format('woff2'),
        url('./assets/fonts/Exmouth.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Black Hawk';
    src: url('./assets/fonts/BlackHawk.woff2') format('woff2'),
        url('./assets/fonts/BlackHawk.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SkinnyChick';
    src: url('./assets/fonts/SkinnyChick.woff2') format('woff2'),
        url('./assets/fonts/SkinnyChick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Love & Sunshine';
    src: url('./assets/fonts/LoveandSunshine.woff2') format('woff2'),
        url('./assets/fonts/LoveandSunshine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sverige Script Demo';
    src: url('./assets/fonts/SverigeScriptDemo.woff2') format('woff2'),
        url('./assets/fonts/SverigeScriptDemo.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sverige Script Decorated Demo';
    src: url('./assets/fonts/SverigeScriptDecoratedDemo.woff2') format('woff2'),
        url('./assets/fonts/SverigeScriptDecoratedDemo.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ChopinScript';
    src: url('./assets/fonts/ChopinScript.woff2') format('woff2'),
        url('./assets/fonts/ChopinScript.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Night At The Opera NF';
    src: url('./assets/fonts/NightAtTheOperaNF.woff2') format('woff2'),
        url('./assets/fonts/NightAtTheOperaNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
