// colour palette:
$darker-grn: #303c14;
$dark-grn: #616243;
$real-pri-grn: #385334;
$primary-grn: #5c7944;
$secondary-grn: #e5efac;
$tert-grn: #e0dfc3;
$action-grn: #bcc66e;

$red: #8d0007;
$primary-red: #c10000;
$action-red: #e92e3a;
$secondary-red: #f5897e;
$teterary-red: #f7f8fa;

$bg-color: #f2ebe8;
$light-color: #f7f8fa;


// new colors
$beige: #F5F5DC;
$burgandy: #770016;
$maroon: #620607;
$carmine: #860219;
$beaver: #78552b;
$green: #2a4731;

// typography
$header-font: 'Milonga';
$para-font: 'IMF';
$sign-font: 'GreatVibes';
$title-font: 'PetitFormalScript';
